{% extends 'base.html.twig' %}

{% block title %}Edit item{% endblock %}

{% block body %}
<div class="todo">
 {{ form_start(form) }}
 {{ form_widget(form) }}
 {{ form_end(form) }}
 </div>
{% endblock %}